<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd
		">

	<bean id="beanNameViewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="1"/>
    </bean>
    
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="2"/>
		<property name="cache" value="true"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/jsp/"/>
		<property name="suffix" value=".jsp"/>
    </bean>
    
    <bean id="jacksonView" class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" >
    </bean>
    
    <ehcache:annotation-driven />

	<ehcache:config cache-manager="cacheManager">
		<ehcache:evict-expired-elements interval="60" />
	</ehcache:config>

	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation"  value="/WEB-INF/ehcache.xml"/>
	</bean>

	<bean id="myExperimentRegistry" class="gov.nih.nci.cagrid.portal.portlet.workflow.service.impl.MyExperimentWorkflowRegistry" autowire-candidate="true">
 		<qualifier value="MyExperiment"/>
    	<property name="tag" value="cagrid"/>
    	<property name="server" value="sandbox.myexperiment.org"/>
    	<property name="workflowsJaxbUnmarshaller" ><oxm:jaxb2-marshaller id="workflowsJaxbMarshaller"><oxm:class-to-be-bound name="gov.nih.nci.cagrid.portal.portlet.workflow.domain.MyExperimentWorkflows"/></oxm:jaxb2-marshaller></property>
    	<property name="workflowDescriptionJaxbUnmarshaller" ><oxm:jaxb2-marshaller id="workflowDescriptionJaxbMarshaller" ><oxm:class-to-be-bound name="gov.nih.nci.cagrid.portal.portlet.workflow.domain.WorkflowDescription"/></oxm:jaxb2-marshaller></property>
    </bean>
    
	<bean id="sessionEprs" class="gov.nih.nci.cagrid.portal.portlet.workflow.domain.SessionEprs" scope="session" autowire-candidate="true" ><aop:scoped-proxy/></bean>
    
	<bean id="tavernaWorkflowService" class="gov.nih.nci.cagrid.portal.portlet.workflow.service.impl.TavernaWorkflowService" autowire-candidate="true">
		<!--<property name="tavernaWorkflowServiceUrl" value="https://cagrid-workflow.nci.nih.gov:8443/wsrf/services/cagrid/TavernaWorkflowService"/>  https://cabig-workflow.ci.uchicago.edu:5005/wsrf/services/cagrid/TavernaWorkflowService-->
		<property name="tavernaWorkflowServiceUrl" value="https://cabig-workflow.ci.uchicago.edu:5005/wsrf/services/cagrid/TavernaWorkflowService"/>
		
	</bean>
    
	<bean id="newInstanceFormController" class="gov.nih.nci.cagrid.portal.portlet.workflow.mvc.NewInstanceFormController" autowire="byType">
		<property name="commandClass" value="gov.nih.nci.cagrid.portal.portlet.workflow.domain.SubmitWorkflowCommand" />
		<property name="commandName" value="cmd"/>
		<property name="successView" value="json"/>
		<property name="formView" value="newInstance"/>
	</bean>
    
	<bean id="viewDefinitionsFormController" class="gov.nih.nci.cagrid.portal.portlet.workflow.mvc.ViewDefinitionsFormController" autowire="byType">
	
	</bean>
	<bean id="viewInstancesController" class="gov.nih.nci.cagrid.portal.portlet.workflow.mvc.ViewInstancesController" autowire="byType"/>
    <bean id="jsonController" class="gov.nih.nci.cagrid.portal.portlet.workflow.mvc.JSONController" autowire="byType"  />
    
    <bean id="utilities" class="gov.nih.nci.cagrid.portal.portlet.workflow.util.Utils"  />
</beans>

