<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
>
	
	
	<!--
	<cache:annotation-driven cache-manager='cacheManager'   mode='proxy | aspectj'  proxy-target-class='true' />
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set><\
				<bean class="org.springframework.cache.concurrent.ConcurrentCacheFactoryBean" p:name="default"/>
				<bean class="org.springframework.cache.concurrent.ConcurrentCacheFactoryBean" p:name="books"/>
			</set>
		</property>
	</bean>
 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="cache" value="true"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/jsp/"/>
		<property name="suffix" value=".jsp"/>
    </bean>

    <bean id="sessionEprs" class="gov.nih.nci.cagrid.portal.portlet.workflow.domain.SessionEprs" scope="session" autowire-candidate="true">
    	<aop:scoped-proxy/>
    </bean>
    
    <bean id="workflowService" class="gov.nih.nci.cagrid.portal.portlet.workflow.service.impl.TavernaWorkflowService" autowire-candidate="true">
		<property name="tavernaWorkflowServiceUrl" value="https://cabig-workflow.ci.uchicago.edu:5005/wsrf/services/cagrid/TavernaWorkflowService" />
    </bean>
    
	<bean id="springRegistry" class="gov.nih.nci.cagrid.portal.portlet.workflow.service.impl.SpringWorkflowRegistry" autowire-candidate="true">
		<property name="workflowList">
			<map>
				<entry key="workflow-1">
					<bean id="workflow-1" class="gov.nih.nci.cagrid.portal.portlet.workflow.domain.WorkflowDescription">
						<property name="id" value="workflow-1" />
						<property name="name" value="Concatenate two Strings (for testing)." />
						<property name="description" value="It is a simple workflow that takes two strings as input and returns a concatenated string as output." />
						<property name="author" value="Dinanath Sulakhe" />
						<property name="contentURI" value="/home/marek/portal-liferay/data/taverna/fishsoup.t2flow" />
						<property name="previewImageURI" value="http://www.myexperiment.org/workflow/version/image/1669/_untitled_.png" />
						<property name="thumbnailBigURI" value="http://www.myexperiment.org/workflow/version/image/1669/_untitled_.png" />
						<property name="thumbnailURI" value="http://www.myexperiment.org/workflow/version/image/1669/thumb/_untitled_.png" />
					</bean>
				</entry>
				<entry key="workflow-2">
					<bean id="workflow-2" class="gov.nih.nci.cagrid.portal.portlet.workflow.domain.WorkflowDescription">
				        <property name="id" value="workflow-2"/>
				        <property name="name" value="caDSR metadata query in caGrid"/>
				        <property name="description" value="This workflow uses caDSR (Cancer Data Standards Repository) service, which defines a comprehensive set of standardized metadata descriptors for cancer research terminology used in information collection and analysis. This Sample workflow is to find all the concepts related to a given context, for example caCore. The workflow uses context information to invoke findProjects in caDSR and get the project(s) information."/>
				        <property name="author" value="Wei Tan"/>
				        <property name="contentURI" value="/home/marek/portal-liferay/data/taverna/caDSR-Workflow.t2flow"/>
				        <property name="previewImageURI" value="http://www.myexperiment.org/workflow/version/image/1669/_untitled_.png" />
						<property name="thumbnailBigURI" value="http://www.myexperiment.org/workflow/version/image/1669/_untitled_.png" />
						<property name="thumbnailURI" value="http://www.myexperiment.org/workflow/version/image/1669/thumb/_untitled_.png" />
				   </bean>			
				</entry>
			</map>
		</property>
	</bean>
    
    <bean id="registry" class="gov.nih.nci.cagrid.portal.portlet.workflow.service.impl.MyExperimentWorkflowRegistry" autowire-candidate="true">
    	<property name="tag" value="cagrid"/>
    	<property name="username" value="kedzie"/>
    	<property name="password" value="Catch-22"/>
    	<property name="server" value="sandbox.myexperiment.org"/>
    </bean>
    
	<bean id="viewDefinitionsController" class="gov.nih.nci.cagrid.portal.portlet.workflow.mvc.ViewDefinitionsController" autowire="byName">
        <!--<property name="sessionEprs" ref="sessionEprs" /> -->
      <!--  <property name="workflowService" ref="workflowService"/> -->
		<!--<property name="registry" ref="registry"/>-->
    </bean>
	
    <bean id="newInstanceFormController" class="gov.nih.nci.cagrid.portal.portlet.workflow.mvc.NewInstanceFormController" autowire="byName">
    	<property name="commandClass" value="gov.nih.nci.cagrid.portal.portlet.workflow.domain.SubmitWorkflowCommand" />
    	<property name="commandName" value="cmd"/>
    	<property name="successView" value="submitted"/>
    	<property name="formView" value="view"/>
        <property name="sessionEprs" ref="sessionEprs" />
        <property name="workflowService" ref="workflowService"/>
		<property name="registry" ref="registry"/>
    </bean>

	<bean id="viewInstancesController" class="gov.nih.nci.cagrid.portal.portlet.workflow.mvc.ViewInstancesController" autowire="byName">
        <property name="sessionEprs" ref="sessionEprs" />
        <property name="workflowService" ref="workflowService"/>
    </bean>
    
    <bean id="viewOutputController" class="gov.nih.nci.cagrid.portal.portlet.workflow.mvc.ViewOutputController"  autowire="byName">
        <property name="sessionEprs" ref="sessionEprs" />
    </bean>
    
</beans>

