ul.ui-menu {
	list-style-type:none;
	padding: 4px;
	margin: 4;
}
ul.ui-menu li.ui-menu-item {
	display:inline;
	float: left;
	background-color: blue;
}
ul.uimenu li.ui-menu-item a {
	display:block;
	width:140px;
	background-color: blue;
	color: white;
}
ul.uimenu li.ui-menu-item a:HOVER {
	display:block;
	width:140px;
	color:white;
	background-color: red;
}

.results {
	font-size: 14px;;
	font-weight: bold;
	color: blue;
}

.content {
	font-size: 12px;
	color: black;
	}
	
div.content {
	font-size: 12px;
	color: black;
	}
	
.content td {
	font-size: 12px;
	color: black;
}

.content p {
	font-size: 12px;
	color: black;
	}
	
table.statusTable {
	border: medium;
	border-color: black;
	border-style: double;
	border-width: thick;
	}
	
tr.statusTableHeader {
	background-color: blue;
	color: white;
	}
	
