#workflow-portlet-menu  ul {

	list-style-type: none;
	margin-left: 0px;
	padding: 0px;
	width: 500px;
}

#workflow-portlet-menu li {

	display: inline;	
	width: 250px;
}

.results {
	font-size: 14px;;
	font-weight: bold;
	color: blue;
}

.standard {
	font-size: 11px;
	}
	
table.statusTable {
	border-color: black;
	border-style: double;
	border-width: thick;
	}
	
tr.statusTableHeader {
	background-color: blue;
	color: white;
	}
	